# **Assignment For Numpy**

Difficulty Level **Beginner**

1. Import the numpy package under the name np

In [1]:
import numpy as np

2. Create a null vector of size 10

In [3]:
arr =np.arange(1,11)
np.size(arr)

10

3. Create a vector with values ranging from 10 to 49

In [ ]:

arr = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26,
       27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43,
       44, 45, 46, 47, 48, 49]
arr2 = np.array(arr)


4. Find the shape of previous array in question 3

In [ ]:
np.shape(arr2)

5. Print the type of the previous array in question 3

In [ ]:
type(arr2)

6. Print the numpy version and the configuration

In [ ]:
import numpy as np
print(np.__version__)

7. Print the dimension of the array in question 3

In [6]:
np.ndim(arr)

1

8. Create a boolean array with all the True values

9. Create a two dimensional array

In [7]:
np.ndarray((2,2))

array([[0., 0.],
       [0., 0.]])

10. Create a three dimensional array

In [8]:
arr6 = np.ndarray((3,3,3))
arr6

array([[[1.28998462e-311, 1.28998477e-311, 2.02566915e-322],
        [2.31603987e-314, 6.95179551e-310, 0.00000000e+000],
        [0.00000000e+000, 4.82800949e-320, 6.95179551e-310]],

       [[0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
        [0.00000000e+000, 0.00000000e+000, 0.00000000e+000],
        [0.00000000e+000, 0.00000000e+000, 6.27092611e-310]],

       [[1.28998458e-311, 1.28998459e-311, 1.28998458e-311],
        [1.28998458e-311, 1.28998458e-311, 1.28998458e-311],
        [0.00000000e+000, 0.00000000e+000, 0.00000000e+000]]])

Difficulty Level **Easy**

11. Reverse a vector (first element becomes last)

In [ ]:
np.arange(10,0,-1)

12. Create a null vector of size 10 but the fifth value which is 1

In [ ]:

nu_vec = np.zeros(10)
nu_vec[4]=1
nu_vec

13. Create a 3x3 identity matrix

In [ ]:

Id_mt = np.zeros([3,3])
Id_mt[0,0]=1
Id_mt[2,2]=1
Id_mt[1,1]=1
Id_mt

14. arr = np.array([1, 2, 3, 4, 5]) 

---

 Convert the data type of the given array from int to float

In [ ]:
arr=np.array([1,2,3,4,5],dtype='float32')
arr.dtype

15. arr1 =          np.array([[1., 2., 3.],

                    [4., 5., 6.]])  
                      
    arr2 = np.array([[0., 4., 1.],
     
                   [7., 2., 12.]])

---


Multiply arr1 with arr2

In [ ]:
arr1 = np.array([[1.,2.,3.],[4.,5.,6.]])
arr2 = np.array([[0., 4., 1.],[7., 2., 12.]])
arr1*arr2

16. arr1 = np.array([[1., 2., 3.],
                    [4., 5., 6.]]) 
                    
    arr2 = np.array([[0., 4., 1.], 
                    [7., 2., 12.]])


---

Make an array by comparing both the arrays provided above

In [ ]:
arr1 = np.array([[1., 2., 3.],

            [4., 5., 6.]]) 
arr2 = np.array([[0., 4., 1.],

            [7., 2., 12.]])
(arr1==arr2).all()

17. Extract all odd numbers from arr with values(0-9)

In [ ]:
np.arange(1,10,2)

18. Replace all odd numbers to -1 from previous array

In [ ]:
a=np.arange(1,10,2)
a[:]=1
a

19. arr = np.arange(10)


---

Replace the values of indexes 5,6,7 and 8 to **12**

In [ ]:
arr
arr[5]=12
arr[6]=12
arr[7]=12
arr

20. Create a 2d array with 1 on the border and 0 inside

In [ ]:
import numpy as np
arr = np.zeros([3,3])
arr[0]=1
arr[1]=1
arr[1,1]=0
arr[2]=1
arr

Difficulty Level **Medium**

21. arr2d = np.array([[1, 2, 3],

                    [4, 5, 6], 

                    [7, 8, 9]])

---

Replace the value 5 to 12

In [ ]:
import numpy as np
arr2d = np.array([[1, 2, 3],

            [4, 5, 6], 

            [7, 8, 9]])
arr2d[1,1]=12
arr2d

22. arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])

---
Convert all the values of 1st array to 64

In [ ]:
import numpy as np
arr3d = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
arr3d[0,0]=64
arr3d

23. Make a 2-Dimensional array with values 0-9 and slice out the first 1st 1-D array from it

In [ ]:
import numpy as np
a = np.array([[0,1,2],[3,4,5],[6,7,8]])
b=a[0]
b

24. Make a 2-Dimensional array with values 0-9 and slice out the 2nd value from 2nd 1-D array from it

In [ ]:
import numpy as np
a = np.array([[0,1,2],[3,4,5],[6,7,8]])
b=a[1]
b

25. Make a 2-Dimensional array with values 0-9 and slice out the third column but only the first two rows

In [ ]:
import numpy as np
a = np.array([[0,1,2],[3,4,5],[6,7,8]])
b=a[0:2,2]
b

26. Create a 10x10 array with random values and find the minimum and maximum values

In [ ]:
np.ndarray([10,10])

27. a = np.array([1,2,3,2,3,4,3,4,5,6]) b = np.array([7,2,10,2,7,4,9,4,9,8])
---
Find the common items between a and b

In [ ]:
a = np.array([1,2,3,2,3,4,3,4,5,6]) 
b = np.array([7,2,10,2,7,4,9,4,9,8])
print(np.intersect1d(a,b))

28. a = np.array([1,2,3,2,3,4,3,4,5,6])
b = np.array([7,2,10,2,7,4,9,4,9,8])

---
Find the positions where elements of a and b match

In [9]:
c = np.where(a == b)
c

NameError: name 'a' is not defined

29.  names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])  data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will**

In [ ]:
not able to complete

30. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe']) data = np.random.randn(7, 4)

---
Find all the values from array **data** where the values from array **names** are not equal to **Will** and **Joe**

In [ ]:
not able to complete

Difficulty Level **Hard**

31. Create a 2D array of shape 5x3 to contain decimal numbers between 1 and 15.

In [ ]:
np.arange(1,16).reshape(5,3)

32. Create an array of shape (2, 2, 4) with decimal numbers between 1 to 16.

33. Swap axes of the array you created in Question 32

34. Create an array of size 10, and find the square root of every element in the array, if the values less than 0.5, replace them with 0

In [ ]:
arr7 = np.arange(0,10)
arr8 = np.sqrt([arr7])
arr8

35. Create two random arrays of range 12 and make an array with the maximum values between each element of the two arrays

In [ ]:
x = np.random.randn(12)
y = np.random.randn(12)
z= np.max(x)
a= np.max(y)
c= np.any(a>z)
c

36. names = np.array(['Bob', 'Joe', 'Will', 'Bob', 'Will', 'Joe', 'Joe'])

---
Find the unique names and sort them out!

In [ ]:
not able to complete

37. a = np.array([1,2,3,4,5])
b = np.array([5,6,7,8,9])

---
From array a remove all items present in array b

In [ ]:
not able to complete

38.  Following is the input NumPy array delete column two and insert following new column in its place.

---
sampleArray = numpy.array([[34,43,73],[82,22,12],[53,94,66]]) 


---

newColumn = numpy.array([[10,10,10]])

In [ ]:
not able to complete

39. x = np.array([[1., 2., 3.], [4., 5., 6.]]) y = np.array([[6., 23.], [-1, 7], [8, 9]])


---
Find the dot product of the above two matrix

In [ ]:
not able to complete

40. Generate a matrix of 20 random values and find its cumulative sum

In [ ]:
not able to complete

In [ ]:
not able to complete